.pageArticle {
    width: 80%;
    margin: auto;
}

.backTop {
    margin-left: 7%;
}

.backBottom {
    margin: 5% 20% 0 75%;
}

.backTop,
.backBottom {
    width: 15%;
    text-align: center;
    font-size: 1.2em;
    padding: 2%;
    background-color: #B46D51;
    border: 3px solid rgb(160, 96, 71);
}

.backTop a,
.backBottom a {
    color: #000000;
}

.blogArticleContent {
    width: 100%;
    margin-top: 5%;
    display: block;
    background-color: #E6D9CB;
    border: 3px solid rgb(220, 199, 176);
}

.imgArticleContent {
    width: 50%;
    margin: auto;
}

.imgArticleContent img {
    max-width: 526px;
    width: 100%;
    max-height: 394px;
    margin-top: 10%;
}

.postArticleContent {
    width: 90%;
    margin: auto;
}

.postArticleContent .date,
.postArticleContent h2 {
    text-align: center;
}

.articleP {
    text-align: justify;
}

.comments {
    width: 90%;
    margin: auto;
}

.comments .date,
.comments h2 {
    text-align: justify;
}

.blogArticleContent form {
    margin-top: 2%;
    display: block;
}

.blogArticleContent form input[type="submit"] {
    float: right;
    margin-right: 4%;
}

.blogArticleContent textarea {
    width: 70%;
    min-height: 100px;
    border: 3px solid rgb(220, 199, 176);
    font-size: 1.5em;
    text-align: justify;
    margin-bottom: 2%;
}

.messageConfirm {
    font-size: 1.1em;
    line-height: 2;
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: #2af501;
    border: 3px solid #1dac00;
}

/* ************************************MEDIAQUERIES******************************** */

@media screen and (max-width: 1170px) {

    .blogArticleContent textarea,
    form input[type="submit"i] {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 970px) {

    #backTop,
    #backBottom,
    .blogArticleContent textarea,
    form input[type="submit"i] {
        font-size: 1.1em;
    }

    #backTop,
    #backBottom {
        width: 40%;
        margin: auto;
    }

    .blogArticleContent {
        margin-bottom: 4%;
    }
}
@media screen and  (max-width: 768px) {

    .backTop,
    .backBottom {
        width: 60%;
        margin: auto;
    }

    .backBottom {
        margin-top: 5%;
    }

    .imgArticleContent {
        width: 90%;
    }

    .blogArticleContent textarea {
        width: 95%;
        font-size: 1.1em;
    }

    .blogArticleContent form input[type="submit"] {
        font-size: 1.1em;
        float: none;
        width: 40%;

    }
}