/* ***************************PAGE BLOG**************************** */
#blogContent {
    width: 68%;
}

#blogBanner {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#blogTitle {
    width: 50%;
    text-align: center;
    background-color: #063630;
    margin: 1% 0 1% 1%;
}

#blogTitle h2 {
    color: #ffffff;
}

#liensBlog {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

#liensBlog a {
    color: #ffffff;
    text-decoration: none;
}

#lienCnx,
#lienReg {
    background-color: #063630;
    width: 40%;
    text-align: center;
    line-height: 3;
    margin: 5% auto;
}

#lienCnx .modal,
#lienReg .modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#introBlog{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    margin-top: 10%;
}

#introBlog p{
    margin-bottom: 0;
}

#blogSearchBar {
    width: 100%;
    display: flex;
    padding-top: 0;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

form input[type="text"] {
    width: 60%;
    font-size: 1.5em;
    padding-left: 1%;
    border: 3px solid rgb(220, 199, 176);
    background-color: #E6D9CB;

}

form input[type="submit"i] {
    background-color: #B46D51;
    border: 3px solid rgb(160, 96, 71);
    width: 16%;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 3%;
}

#articles {
    width: 100%;
    height: 700px;
    margin-top: 5%;
    display: block;
}

.rows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.blogArticles {
    width: 44%;
    padding: 2%;
    background-color: #E6D9CB;
    border: 3px solid rgb(220, 199, 176);
}

.blogArticles img {
    max-width: 395px;
    width: 100%;
    max-height: 320px;

}

.blogArticles a {
    color: #000000;
}

/* *********************MODAL CONNEXION/ MODAL REGISTER**************** */
.modal-wrapperCnx{
    height: 70%;
    width: inherit; 
    max-width: calc(100vw - 20px);
    max-width: calc(100vh - 20px);
    padding: 2%;
}
.modal-wrapperReg {
    overflow: auto;
    height: 80%;
    width: inherit;
    max-width: calc(100vw - 20px);
    max-width: calc(100vh - 20px);
    padding: 2%;
}

.modal-wrapperCnx,
.modal-wrapperReg {
    background-color: #E6D9CB;
}

.js-modal {
    width: 5%;
    font-weight: bold;
    color: #063630;
    text-decoration: underline;
}

#cnxForm,
#regForm {
    line-height: 0;
}

#cnxForm form,
#regForm form {
    display: block;
    text-align: center;
}

#cnxForm input[type="text"],
#cnxForm input[type="password"],
#regForm input[type="text"],
#regForm input[type="password"] {
    width: 60%;
    margin-bottom: 5%;
    background-color: #ffffff;
    border: 3px solid rgb(220, 199, 176);
}

#cnxForm input,
#regForm input {
    font-size: 1.3em;
}
.messageError {
    font-size: 1.3em;
    line-height: 2;
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: rgb(243, 53, 40);
    border: 3px solid rgb(204, 27, 14);
}

#cnxForm input[type="submit"],
#regForm input[type="submit"] {
    width: 60%;
    margin-bottom: 5% auto;
    background-color: #B46D51;
}
.modal-wrapperCnx .js-modal-close{
    height: 10%;
}

/* ********************************* MEDIAQUERIES ******************************** */
@media screen and (min-width: 768px) and (max-width: 970px) {

    #blogContent {
        padding: 5% 0 5% 0;
        width: 100%;
    }

}
@media screen and (min-width: 400px) and (max-width: 768px) {

    #blogContent {
        padding: 5% 0 5% 0;
        width: 100%;
    }

    #blogTitle {
        width: 45%;
    }

    #blogTitle h2 {
        font-size: 1.3em;
    }

    #liensBlog {
        width: 50%;
    }

    #lienCnx,
    #lienReg {
        width: 47%;
        font-size: 0.9em;
    }

    #blogSearchBar form input {
        font-size: 1.2em;
    }

    .rows {
        display: block;
    }

    .blogArticles {
        width: 95%;
    }

    .rows :first-child {
        margin-bottom: 5%;
    }

}