/* ***************************PAGE CONTACT**************************** */
#contactContent{
    width: 77%;
    margin-left: 3%;
}

#introContact {
    text-align: center;
}
#contactForm form{
    display: block;
}
.buttons{
text-align: center;
}
.buttons input{
    font-size: 1.3em;
}
#plan{
    width: 85%;
    margin: auto;
}

/* ********************************* MEDIAQUERIES ******************************** */
@media screen and (min-width: 970px) and (max-width: 1170px) {
  
    #plan iframe{
        width: 90%;
    }   
}
@media screen and (min-width: 768px) and (max-width: 970px) {
    #contactContent{
        width: 90%;
        margin: 0 auto;
    }
    #contactContent{
        width: 90%;
        margin: 0 auto;
    }
    #contactForm form{
        display: block;
    }
    #civilities, #message{
        width: 100%;
    }  
    #plan iframe{
        width: 100%
    }  
}
@media screen and (min-width: 400px) and (max-width: 768px) {
    #contactContent{
        width: 95%;
        margin: 0 auto;
    }
    #civilities, #message{
        width: 90%;
        margin: 0 auto;
    }  
    .buttons input{
        font-size: 1.1em;
    }
    #plan iframe{
        width: 100%
    }  
}